html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: $text-color;
  background-color: $body-color;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
