.header {
  background-color: $container-color;
  width: 100%;
  z-index: $z-index;
  box-shadow: 0 1px 17px hsla($hue, $sat, 15%, 0.15);
}
.nav {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
  &__logo,
  &__link {
    color: $header-color;
    font-weight: 600;
    transition: 0.5s;
    &:hover {
      color: $header-color-alt;
    }
  }
  &__btn {
    padding: 0.5rem;
    border-radius: 50%;
    background-color: aqua;
  }
}
